* {
  margin: 0;
  padding: 0;
}

.container {
  width: 90%;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.slider-group {
  padding: 100px 0;
}

img {
  width: 400px;
  height: 600px;
  transition: .3s;
  filter: grayscale(0);
}

img:hover {
  filter: grayscale(1);
}